{% extends 'backend.html.twig' %}

{% block title %}Voir un message{% endblock %}
{% block breadcrumb %}
    <div class="col-sm-6">
        <h1 class="m-0 text-dark">Tableau de bord</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Messagerie</a></li>
            <li class="breadcrumb-item">Voir message</li>
        </ol>
    </div>
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-footer">
                            <a href="{{ path('messagerie_index') }}"
                               class="btn btn-info"><i class="fas fa-list"> Retour à la liste</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card card-outline card-danger">
                        <div class="card-header">
                            <h3 class="card-title">{{ message.subject }}</h3>
                            <div class="card-tools">
                                <span class="badge badge-danger">New</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li class="text-muted"><strong>N° : </strong>{{ message.id }}</li>
                                <li class="text-muted"><strong>Mail du destinataire: </strong>{{ message.users.email }}</li>
                                <li class="text-muted"><strong>subject : </strong>{{ message.subject }}</li>
                                <li class="text-muted"><strong>Body : </strong>{{ message.body }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card card-outline card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Documents</h3>
                            <div class="card-tools">
                                <span class="badge badge-danger">New</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                {% for d in message.documents %}
                                    <li class="text-muted">{{ d.title }} - <a href="{{ asset('uploads/documents/'~d.path) }}"
                                                                              title="{{ d.title }}"
                                                                              class="text-danger"
                                                                              target="_blank"><i class="far fa-file-pdf"></i></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
